<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Movie Name</th>
                        <th>Director</th>
                        <th>Release Date</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies">
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                        <td>{{movie.created | date: "shortDate"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>